##
## directory
##
.bin
.out
.log
.logs
.data
.lazy
.nvim
.mason
.cache
.svelte-kit

bin
build
out
target
node_modules

##
## extension
##
*.bak*
*Zone.Identifier

##
## file: include
##
lazy-lock.json
.tmp*
compile_commands.json

##
## file: exclude
##

