[submodule "vendor/nvim-tree.lua"]
	path = vendor/nvim-tree.lua
	url = git@github.com:nvim-tree/nvim-tree.lua.git
[submodule "vendor/nvim-web-devicons"]
	path = vendor/nvim-web-devicons
	url = git@github.com:nvim-tree/nvim-web-devicons
[submodule "vendor/telescope.nvim"]
	path = vendor/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim
[submodule "vendor/plenary.nvim"]
	path = vendor/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim
[submodule "vendor/gitsigns.nvim"]
	path = vendor/gitsigns.nvim
	url = git@github.com:lewis6991/gitsigns.nvim.git
[submodule "vendor/lualine.nvim"]
	path = vendor/lualine.nvim
	url = git@github.com:nvim-lualine/lualine.nvim
